<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo-dms-128x115.png" type="image/x-icon">
    <meta name="description" content="">


    <title>About Us</title>
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"></noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">





</head>

<body>

    <section class="menu menu1 cid-svGO3L0vrV" once="menu" id="menu1-1n">

        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                    <a href="#">
                        <img src="assets/images/logo-dms-96x87.png" alt="" style="height: 3.3rem;">
                    </a>
                </span>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="index.html#features06-2"><span style="font-weight: normal;">
                            Why Leansmart</span></a></li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="#"><span style="font-weight: normal;">
                            About Us</span></a></li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="#"><span style="font-weight: normal;">Services</span></a></li>
                        <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle text-primary display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false"><span style="font-weight: normal;">Products</span></a>
                            <div class="dropdown-menu">
                                <div class="dropdown"><a class="dropdown-item dropdown-toggle text-primary display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Products in Offering<br></a>
                                    <div class="dropdown-menu dropdown-submenu"><a class="dropdown-item text-primary display-4" href="#">Strategy Deployment with Daily Management System</a></div>
                                </div>
                                <div class="dropdown"><a class="dropdown-item dropdown-toggle text-primary display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Products in Development<br></a>
                                    <div class="dropdown-menu dropdown-submenu"><a class="dropdown-item text-primary display-4" href="#">Fish Bone/Ishikawa model for root cause analysis&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Process Failure Mode Effects Analysis (PFMEA)&nbsp;<br></a>
                                        <a
                                            class="dropdown-item text-primary display-4" href="#">Standard Work&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Monthly Business Review template&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Single Minute Exchange of Dies (SMED) Template&nbsp;<br></a>
                                            <a
                                                class="dropdown-item text-primary display-4" href="#">Daily Standard Work for Team Leaders, Managers etc.&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Visual Work Instruction Template&nbsp;<br></a><a class="dropdown-item text-primary display-4"
                                                    href="#">Statistical Process Control (SPC)&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Safety Observation Templates&nbsp;<br></a><a class="dropdown-item text-primary display-4"
                                                    href="#">Gemba Walk Template with time schedule and sign off&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Gemba Walk Template with time schedule and sign off&nbsp;<br></a><a class="dropdown-item text-primary display-4"
                                                    href="#">Gemba Walk Template with time schedule and sign off&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Safety Observation Templates&nbsp;<br></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="#"><span style="font-weight: normal;"></span></a></li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="page2.html"><span style="font-weight: normal;">News &amp; Blog</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="index.html#features02-3"><span style="font-weight: normal;">Open APIs</span></a></li>
                        <li class="nav-item">
                            <a class="nav-link link text-primary display-4" href="page1.html">
                                <p><span style="font-weight: normal;">Careers</span>&nbsp; &nbsp;</p>
                            </a>
                        </li>
                    </ul>

                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="#">REQUEST DEMO</a></div>
                </div>
            </div>
        </nav>
    </section>

    <section class="footer01 creativem4_footer01 cid-sK1YgUCGU0" once="" id="footer01-1o">





        <div class="container">
            <div class="media-container-row align-center mbr-black">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-4">
                        © Copyright 2021 Leansmart - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>


    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/theme/js/script.js"></script>



    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">

</body>

</html>