<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo-dms-128x115.png" type="image/x-icon">
    <meta name="description" content="">


    <title>Home</title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/animatecss/animate.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"></noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">





</head>

<body>

    <section class="menu menu1 cid-svGO3L0vrV" once="menu" id="menu">

        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                    <a href="#">
                        <img src="assets/images/logo-dms-96x87.png" alt="" style="height: 3.3rem;">
                    </a>
                </span>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="index.html#features06-2"><span style="font-weight: normal;">
                            Why Leansmart</span></a></li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="#"><span style="font-weight: normal;">
                            About Us</span></a></li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="#"><span style="font-weight: normal;">Services</span></a></li>
                        <li class="nav-item dropdown"><a class="nav-link link dropdown-toggle text-primary display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false"><span style="font-weight: normal;">Products</span></a>
                            <div class="dropdown-menu">
                                <div class="dropdown"><a class="dropdown-item dropdown-toggle text-primary display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Products in Offering<br></a>
                                    <div class="dropdown-menu dropdown-submenu"><a class="dropdown-item text-primary display-4" href="#">Strategy Deployment with Daily Management System</a></div>
                                </div>
                                <div class="dropdown"><a class="dropdown-item dropdown-toggle text-primary display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Products in Development<br></a>
                                    <div class="dropdown-menu dropdown-submenu"><a class="dropdown-item text-primary display-4" href="#">Fish Bone/Ishikawa model for root cause analysis&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Process Failure Mode Effects Analysis (PFMEA)&nbsp;<br></a>
                                        <a
                                            class="dropdown-item text-primary display-4" href="#">Standard Work&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Monthly Business Review template&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Single Minute Exchange of Dies (SMED) Template&nbsp;<br></a>
                                            <a
                                                class="dropdown-item text-primary display-4" href="#">Daily Standard Work for Team Leaders, Managers etc.&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Visual Work Instruction Template&nbsp;<br></a><a class="dropdown-item text-primary display-4"
                                                    href="#">Statistical Process Control (SPC)&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Safety Observation Templates&nbsp;<br></a><a class="dropdown-item text-primary display-4"
                                                    href="#">Gemba Walk Template with time schedule and sign off&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Gemba Walk Template with time schedule and sign off&nbsp;<br></a><a class="dropdown-item text-primary display-4"
                                                    href="#">Gemba Walk Template with time schedule and sign off&nbsp;<br></a><a class="dropdown-item text-primary display-4" href="#">Safety Observation Templates&nbsp;<br></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="#"><span style="font-weight: normal;"></span></a></li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="page2.html"><span style="font-weight: normal;">News &amp; Blog</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link link text-primary display-4" href="index.html#features02-3"><span style="font-weight: normal;">Open APIs</span></a></li>
                        <li class="nav-item">
                            <a class="nav-link link text-primary display-4" href="page1.html">
                                <p><span style="font-weight: normal;">Careers</span>&nbsp; &nbsp;</p>
                            </a>
                        </li>
                    </ul>

                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="#">REQUEST DEMO</a></div>
                </div>
            </div>
        </nav>
    </section>

    <section class="header2 cid-sIw6zTWb5N" id="home-1">





        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6">
                    <div class="image-wrapper">
                        <img src="assets/images/dms-metrics-daily-ipadpro13-spacegrey-landscape-952x744.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md">
                    <div class="text-wrapper">
                        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Leansmart</strong></h1>
                        <p class="mbr-text mbr-fonts-style display-5"><em>Lean Business Management and Transformation made <strong>easy</strong> with software solutions</em></p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary-outline display-4" href="mailto:support@leansmart.org">KNOW MORE</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="image1 cid-sK05RaMZJK" id="home-2">


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/dms-metrics-daily-ipadpro13-spacegrey-landscape-952x744.png" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="header2 cid-sJX0HLqWCU" id="header02-14">

        <div class="container">
            <div class="row">
                <div class="col-12">

                </div>
                <div class="col-12 col-md-12 col-lg-4 title-col">
                    <h6 class="mbr-section-subtitle align-left mbr-fonts-style my-3 display-1"><strong>LEANSMART</strong></h6>
                </div>
                <div class="col-12 col-md-12 text-col col-lg-7">
                    <p class="mbr-text align-left mbr-fonts-style mb-0 display-5">Lean Business Management and Transformation made easy with software solutions<br></p>
                </div>
            </div>
        </div>
    </section>

    <section class="header3 cid-sJn5TCEzEF mbr-fullscreen" id="header03-x">





        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10 align-left">
                    <h3 class="mbr-section-subtitle mbr-fonts-style display-4">LEANSMART</h3>
                    <h1 class="mbr-section-title pb-2 mbr-fonts-style display-2">Lean Business Management &amp; Transformation&nbsp;</h1>
                    <p class="mbr-text pb-2 mbr-light mbr-fonts-style display-7">
                        MADE EASE WITH SOFTWARE SOLUTIONS</p>
                    <div class="mbr-section-btn"><a class="btn btn-lg btn-black display-4" href="#">DISCOVER</a></div>
                </div>
            </div>
        </div>

    </section>

    <section class="header03 levelm4_header03 cid-sJn5BPKKrW mbr-fullscreen" id="why-leansmart-1">





        <div class="container align-center">
            <div class="row justify-content-center">
                <div class="mbr-black col-md-12 col-lg-9">
                    <h2 class="mbr-section-subtitle mbr-fonts-style display-4">SOME CALL US A PRACTICAL LEAN COMPANY AND OTHERS CALL US A SOFTWARE COMPANY. <br>WE ARE A HYBRID.<br><br><br></h2>
                    <h1 class="mbr-section-title mbr-white pb-4 mbr-fonts-style display-1">Why Leansmart?</h1>
                    <p class="mbr-text pb-4 mbr-white mbr-regular mbr-fonts-style display-7">Our deep understanding of Toyota Production System “Lean”, coupled with our global implementation and transformation experience, have evolved our approach from the classic view of “high-touch low-tech” implementation to a more rigorous
                        and effective – Practical Lean implementation using software and technology.
                        <br>
                        <br>An effective organization should run like a well-oiled machine. The leader of the organization sits at the driver seat pointing at the direction that the company must go. When the leader decides to shift to a higher gear, it’s
                        necessary that the rest of the organization, like the gears in an automobile, must fall into place and must align to help move the organization forward.
                        <br>While strategy is important, without alignment and execution value is not created.<br></p>

                </div>
            </div>
        </div>
    </section>

    <section class="features1 cid-sK0qGYEWTK" id="why-leansmart-2">

        <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(255, 255, 255);"></div>

        <div class="container-fluid">
            <div class="content-wrapper">
                <div class="f-row">
                    <div class="f-item">
                        <div class="image-wrapper">
                            <div class="image-circle features-image">
                                <img class="image" src="assets/images/mbr-596x421.jpeg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="f-item">
                        <div class="text-wrapper">
                            <h6 class="card-title mbr-fonts-style display-2">Why Leansmart?</h6>
                            <p class="mbr-text mbr-fonts-style display-7"><br>SOME CALL US A PRACTICAL LEAN COMPANY AND OTHERS CALL US A SOFTWARE COMPANY.&nbsp; WE ARE A HYBRID<br><br>Our deep understanding of Toyota Production System “Lean”, coupled with our global implementation and transformation
                                experience, have evolved our approach from the classic view of “high-touch low-tech” implementation to a more rigorous and effective – Practical Lean implementation using software and technology.
                                <br>
                                <br>An effective organization should run like a well-oiled machine. The leader of the organization sits at the driver seat pointing at the direction that the company must go. When the leader decides to shift to a higher
                                gear, it’s necessary that the rest of the organization, like the gears in an automobile, must fall into place and must align to help move the organization forward.
                                <br>While strategy is important, without alignment and execution value is not created.<br></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features04 digitalm4_features04 cid-sK0shkA4Km" id="features04-1b">




        <div class="container justify-content-center">

            <div class="row">
                <div class="col-lg-6 order-lg-2 align-self-center">
                    <img src="assets/images/flat4.png" alt="" class="w-100">
                </div>
                <div class="col-lg-6">

                    <div class="badge_wrap align-left">

                    </div>
                    <h2 class="mbr-fonts-style mbr-section-title align-left display-2">Benefits of implementation</h2>
                    <div class="icon-main">
                        <div class="process-icon d-flex flex-row justify-content-center">
                            <div class="wrapper">
                                <span class="icon-container">
                                <a href="#">
                                    <span class="icon-wrapper icon1 mbr-iconfont fa-hand-grab-o fa mobi-mbri-like mobi-mbri"></span>
                                </a>
                                <span class="step step_1">1</span>
                                </span>
                            </div>
                            <div class="text-wrap">
                                <h1 class="subicon-title mbr-fonts-style display-7">IMMEDIATE IMPACT</h1>
                                <p class="subicon-text mbr-fonts-style display-4">80+ percentage reduction in time (320 team member organization<br><br>Estimate reduction in cost - $100K + reduction<br></p>
                            </div>

                        </div>
                    </div>

                    <div class="icon-main">
                        <div class="process-icon d-flex flex-row justify-content-center">
                            <div class="wrapper">
                                <span class="icon-container">
                                <a href="#">
                                    <span class="mbr-iconfont icon2 icon-wrapper fa-folder-open-o fa mobi-mbri-features mobi-mbri"></span>
                                </a>
                                <span class="step step_2">2</span>
                                </span>
                            </div>
                            <div class="text-wrap">
                                <h1 class="subicon-title mbr-fonts-style display-7">INCREASED PRODUCTIVITY</h1>
                                <p class="subicon-text mbr-fonts-style display-4">80% reduction in Safety recordable (26 recordable to 5)<br><br>50% reduction in Scrap &amp; Rework<br><br>On Time Delivery improvement from 50% to over 95%<br>
                                    <br>Using Visual Management system<br> <br>EBITDA improvement <br><br>Reduced lead time from 50 days to 20 days
                                    <br>&nbsp;<br></p>
                            </div>
                        </div>
                    </div>

                    <div class="icon-main">
                        <div class="process-icon d-flex flex-row justify-content-center">
                            <div class="wrapper">
                                <span class="icon-container">
                                <a href="#">
                                    <span class="mbr-iconfont icon3 icon-wrapper fa-heart-o fa mobi-mbri-magic-stick mobi-mbri"></span>
                                </a>
                                <span class="step step_3">3</span>
                                </span>
                            </div>
                            <div class="text-wrap">
                                <h1 class="subicon-title mbr-fonts-style display-7">EASE OF MANAGEMENT</h1>
                                <p class="subicon-text mbr-fonts-style display-4">Automatic Roll up of results<br><br>Real time results<br><br>In Depth Problem analysis<br><br>Easy reporting</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="features12 digitalm4_features12 cid-sK0siMud2l" id="features12-1c">




        <div class="container">
            <div class="badge_wrap align-center">

            </div>
            <h3 class="mbr-fonts-style mbr-section-subtitle align-center mbr-light pt-3 display-4">
                WHY CHOOSE US?</h3>
            <h3 class="main-title align-center mbr-semibold mbr-black mbr-fonts-style display-2">Benefits Of Implementation</h3>

            <div class="row justify-content-center">
                <div class="img-col col-12 md-pb col-md-12 col-lg-6 m-auto">
                    <img src="assets/images/dms-1080x1131.png" alt="">
                </div>
                <div class="col-12 col-md-12 col-lg-6 m-auto">
                    <div class="cards mt-5">
                        <div class="card">
                            <h5 class="card-title align-left mbr-regular mbr-black mbr-fonts-style display-5">IMMEDIATE IMPACT</h5>
                            <p class="mbr-text mbr-regular mbr-black mbr-fonts-style display-4">80+ percentage reduction in time (320 team member organization
                                <br>Estimate reduction in cost - $100K + reduction</p>
                        </div>
                        <div class="card">
                            <h5 class="card-title align-left mbr-regular mbr-black mbr-fonts-style display-5">EASE OF MANAGEMENT</h5>
                            <p class="mbr-text mbr-regular mbr-black mbr-fonts-style display-4">Automatic Roll up of results<br>Real time results
                                <br>In Depth Problem analysis
                                <br>Easy reporting</p>
                        </div>
                        <div class="card">
                            <h5 class="card-title align-left mbr-regular mbr-black mbr-fonts-style display-5">INCREASED PRODUCTIVITY</h5>
                            <p class="mbr-text mbr-regular mbr-black mbr-fonts-style display-4">80% reduction in Safety recordable (26 recordable to 5)
                                <br>50% reduction in Scrap &amp; Rework
                                <br>On Time Delivery improvement from 50% to over 95%
                                <br>Using Visual Management system
                                <br>EBITDA improvement
                                <br>Reduced lead time from 50 days to 20 days</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="features4 cid-sK0NNixEqU" id="features4-1e">




        <div class="container">
            <div class="main_header">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <h4 class="mbr-section-subtitle mbr-fonts-style ls-1 display-4">THE BEST SOLUTIONS FOR YOUR BUSINESS</h4>
                        <h3 class="mbr-section-title mbr-fonts-style ls-1 display-2">About us</h3>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">




                <div class="card col-12 col-md-12 col-lg-12">
                    <div class="card-wrapper">
                        <div class="card-box">
                            <div class="circle_animation">
                                <div class="circle_fill circle"></div>
                                <div class="circle_null circle"></div>
                            </div>
                            <div class="content_box">
                                <div class="content_title">
                                    <h4 class="card-title ls-1 mb-0 mbr-fonts-style display-5">Practical Lean Implementation
                                        <div><br></div>
                                    </h4>
                                </div>
                                <div class="content_text">
                                    <p class="card-text mbr-fonts-style display-4">◘&nbsp; Not just Lean Plan Creation but Implementation Services to achieve results <br>
                                        <br>◘&nbsp; Overall Value Stream Level Alignment to ensure results are additive
                                        <br><br>◘&nbsp; Focused Lean Tool Implementation &amp; projects
                                        <br><br>◘&nbsp; Day to Day Lean Management set up &amp; training (DMS)&nbsp;<br></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-12 col-lg-12">
                    <div class="card-wrapper">
                        <div class="card-box">
                            <div class="circle_animation">
                                <div class="circle_fill circle"></div>
                                <div class="circle_null circle"></div>
                            </div>
                            <div class="content_box">
                                <div class="content_title">
                                    <h4 class="card-title ls-1 mb-0 mbr-fonts-style display-5">Lean Consulting &amp; overall Organizational Lean Program creation Services
                                        <div><br></div>
                                    </h4>
                                </div>
                                <div class="content_text">
                                    <p class="card-text mbr-fonts-style display-4">◘&nbsp; Overall Organizational Lean Transformational initiatives (Lean transformational road map with milestones)
                                        <br><br>◘&nbsp; Strategy Deployment&nbsp;<br></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-12 col-md-12 col-lg-12">
                    <div class="card-wrapper">
                        <div class="card-box">
                            <div class="circle_animation">
                                <div class="circle_fill circle"></div>
                                <div class="circle_null circle"></div>
                            </div>
                            <div class="content_box">
                                <div class="content_title">
                                    <h4 class="card-title ls-1 mb-0 mbr-fonts-style display-5">Lean Teaching &amp; Coaching Services
                                        <div><br></div>
                                    </h4>
                                </div>
                                <div class="content_text">
                                    <p class="card-text mbr-fonts-style display-4">◘&nbsp; Classroom sessions to teach Lean &amp; other essential (accounting, management) Theory &amp; its application
                                        <br><br>◘&nbsp; Lean Lab set up for continued education of the organization
                                        <br><br>◘&nbsp; ”Train the Trainer” coaching to continue momentum in DMS and Change Initiatives&nbsp;<br></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features6 cid-sK0NOg0ZH9" id="features6-1f">




        <div class="container-fluid">
            <div class="main_header">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-12 col-lg-12 align-center">
                        <h4 class="mbr-section-subtitle mbr-fonts-style ls-1 display-4">WE BRING THE BEST SOLUTIONS TO YOU</h4>
                        <h3 class="mbr-section-title mb-0 mbr-fonts-style ls-1 display-1">ABOUT US</h3>

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">





                <div class="card_item col-12 col-lg-4 col-md-4">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <div class="square_animation">
                                <div class="square_null square"></div>
                                <div class="square_fill square"></div>
                            </div>
                            <h4 class="card-title ls-1 mbr-fonts-style display-5">Practical Lean Implementation
                            </h4>
                            <p class="card-text mbr-fonts-style display-4">‣&nbsp;Not just Lean Plan Creation but Implementation Services to achieve results <br><br>‣&nbsp;Overall Value Stream Level Alignment to ensure results are additive
                                <br><br>‣&nbsp;Focused Lean Tool Implementation &amp; projects
                                <br><br>‣&nbsp;Day to Day Lean Management set up &amp; training (DMS)&nbsp;<br></p>

                        </div>
                    </div>
                </div>
                <div class="card_item col-12 col-lg-4 col-md-4">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <div class="square_animation">
                                <div class="square_null square"></div>
                                <div class="square_fill square"></div>
                            </div>
                            <h4 class="card-title ls-1 mbr-fonts-style display-5">Lean Teaching &amp; Coaching Services
                                <div><br></div>
                            </h4>
                            <p class="card-text mbr-fonts-style display-4">‣ Classroom sessions to teach Lean &amp; other essential (accounting, management) Theory &amp; its application
                                <br><br>‣ Lean Lab set up for continued education of the organization
                                <br><br>‣&nbsp;”Train the Trainer” coaching to continue momentum in DMS and Change Initiatives&nbsp;<br></p>

                        </div>
                    </div>
                </div>
                <div class="card_item col-12 col-lg-4 col-md-4">
                    <div class="item-wrapper">
                        <div class="card-box">
                            <div class="square_animation">
                                <div class="square_null square"></div>
                                <div class="square_fill square"></div>
                            </div>
                            <h4 class="card-title ls-1 mbr-fonts-style display-5">Lean Consulting &amp; overall Organizational Lean Program creation Services</h4>
                            <p class="card-text mbr-fonts-style display-4">‣&nbsp;Overall Organizational Lean Transformational initiatives (Lean transformational road map with milestones)
                                <br><br>‣&nbsp;Strategy Deployment&nbsp;<br></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer01 creativem4_footer01 cid-sK1YgUCGU0" once="" id="footer01-1o">





        <div class="container">
            <div class="media-container-row align-center mbr-black">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-4">
                        © Copyright 2021 Leansmart - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>


    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/tether/tether.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/theme/js/script.js"></script>



    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">

</body>

</html>